{% extends 'base.html' %}


{% block content %}
   <div class="home_container">
      
      
  </div>
  <div class="title_container">
   <h1>weather worldwide</h1>
   
</div>


<!-- <div class="area" >
          <ul class="circles">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
          </ul>
  </div >
</div> -->



{% endblock %}