{% extends 'base.html' %}

{% block content %}
<form style="display: grid" action="http://127.0.0.1:8000/search" method = "post">

   

</form>

{% csrf_token %}
<div class="input-group">
   
   <form name="form" style="display: grid"method = "POST">
      {% csrf_token %} 
      
      <input type="search"  name="Search" value="" class="form-control rounded" placeholder="Type city name" aria-label="Search" aria-describedby="search-addon" />
      
      <button type="submit" name="btnName" value="InputCity" class="btn btn-outline-primary">search</button>
     
    

      
      

          
   </form>   
 </div>
 
 
 <div class="form-outline">
    <p id="demo">Click me.</p>
    <form name="form" style="display: grid"method = "POST">
    {% csrf_token %} 
    <button type="submit" name="btnDelete" value="delete DB" class="btn btn-outline-primary">delete_All</button>
   </form>
    <button onclick="myFunction()">Refresh</button>
 <script>
 document.getElementById("demo").onclick = function() {myFunction()};
 
 function myFunction() {

    for (let i = 0; i < {{db_lenght}}; i++) {
        var x = document.createElement("INPUT");
        x.setAttribute("type", "text");
        x.setAttribute("value", "{{db_all}}");
         document.body.appendChild(x);
        }   
     
   document.getElementById("demo").innerHTML = "YOU CLICKED ME!";
 }
 </script>
   
    <!-- <input type="tel" id="typePhone" class="form-control" value=""/>
    <input type="tel" id="typePhone" class="form-control" value=""/>
    <input type="tel" id="typePhone" class="form-control" value=""/>
    <input type="tel" id="typePhone" class="form-control" value=""/>
  -->
    
    
  </div>

<!-- 
 {% if inputData %}
 <div class="container px-1 px-sm-4 py-5 mx-auto" >
   <div class="row d-flex justify-content-center">
       <div class="card text-center pt-4 border-0" >
           <h4 class="mb-0">{{inputData}}</h4>
           <small class="text-muted mb-3">{{weather}} humidity: {{humidity}}%</small>
           <h2 class="large-font">{{dataTemp}}&#176;</h2>
           <div class="text-center mt-3 mb-4">
               <img class="city-symbol" src="https://i.imgur.com/QA63I0q.png">
           </div>
         
       </div>
   </div>
</div>

{% endif %} -->

  




 
{% endblock %}